
.featured-projects {

  padding: 64px;

  &__body {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 0 auto;
  }

  &__card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
}

.project-card {
  &__content {
    padding: 0.5rem 0 1rem;
    text-wrap: pretty;
  }
}

/* 2-column layout with featured card */
@media (max-width: 1200px) {
  .featured-projects {
    padding: 32px;
  }
  .featured-projects__card-container {
    grid-template-columns: 1fr 1fr;
  }
}

/* single column layout */
@media (max-width: 900px) {
  .featured-projects {
    padding: 16px;
  }
  .featured-projects__card-container {
    grid-template-columns: 1fr;
  }
}